---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
  {
    date: "Marzo de 2022",
    title: "Principal Frontend Engineer",
    company: "SFI SAS",
    description: `Responsable en Fronend de la plataforma Safered, componentes y funcionalidad. Todo el apartado de frontend
        fue realizado con la tecnologia Vue.js.`,
    link: '#'
  },
  {
    date: "Agosto de 2022",
    title: "Principal FullStack Engineer (SafeShop)",
    company: "SFI SAS",
    description: `
        Como Ingeniero FullStack Principal en SFI SAS para el proyecto SafeShop, lidere el desarrollo integral de nuestras 
        soluciones tecnológicas. Desde el backend hasta el frontend, mi mision fue crear una plataforma segura y eficiente 
        para la tienda online de SFI SAS. Implementando integraciones clave, como la pasarela de pagos con Wompi, 
        asegurando transacciones seguras y fluidas para los clientes. Con herramientas como FastAPI para el backend y 
        una combinación de Atro+ReactJS para el frontend, colaboracion estrecha entre el equipo para 
        garantizar una experiencia de usuario excepcional.`,
    link: '#'
  },
  {
    date: "Diciembre de 2023",
    title: "Principal FullStack Engineer (Saferut)",
    company: "SFI SAS",
    description: `Lider de desarrollo para la aplicaciones web Saferut. Con experiencia en tecnologías como FastAPI 
        para el backend y Atro+ReactJS para el frontend, se crearon soluciones sólidas y 
        atractivas. Trabajando en estrecha colaboración con el equipo, garantizando que la aplicacion
        sea consistentes, intuitiva y de alta calidad.`,
    link: '#'
  }
];
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map(experiencie =>(
        <li>
            <ExperienceItem {...experiencie}/>    
        </li>
    ))
  }
</ol>
